[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-wtf = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask = "*"
psycopg2 = "*"
flask-cors = "*"
python-dotenv = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.13"
